<style>
    #inTurnFadingTextG{
        width:240px;
    }

    .inTurnFadingTextG{
        color:#000000;
        font-family:Arial;
        font-size:25px;
        text-decoration:none;
        font-weight:normal;
        font-style:normal;
        float:left;
        -moz-animation-name:bounce_inTurnFadingTextG;
        -moz-animation-duration:1.82s;
        -moz-animation-iteration-count:infinite;
        -moz-animation-direction:linear;
        -webkit-animation-name:bounce_inTurnFadingTextG;
        -webkit-animation-duration:1.82s;
        -webkit-animation-iteration-count:infinite;
        -webkit-animation-direction:linear;
        -ms-animation-name:bounce_inTurnFadingTextG;
        -ms-animation-duration:1.82s;
        -ms-animation-iteration-count:infinite;
        -ms-animation-direction:linear;
        -o-animation-name:bounce_inTurnFadingTextG;
        -o-animation-duration:1.82s;
        -o-animation-iteration-count:infinite;
        -o-animation-direction:linear;
        animation-name:bounce_inTurnFadingTextG;
        animation-duration:1.82s;
        animation-iteration-count:infinite;
        animation-direction:linear;
    }

    #inTurnFadingTextG_1{
        -moz-animation-delay:0.52s;
        -webkit-animation-delay:0.52s;
        -ms-animation-delay:0.52s;
        -o-animation-delay:0.52s;
        animation-delay:0.52s;
    }

    #inTurnFadingTextG_2{
        -moz-animation-delay:0.65s;
        -webkit-animation-delay:0.65s;
        -ms-animation-delay:0.65s;
        -o-animation-delay:0.65s;
        animation-delay:0.65s;
    }

    #inTurnFadingTextG_3{
        -moz-animation-delay:0.78s;
        -webkit-animation-delay:0.78s;
        -ms-animation-delay:0.78s;
        -o-animation-delay:0.78s;
        animation-delay:0.78s;
    }

    #inTurnFadingTextG_4{
        -moz-animation-delay:0.91s;
        -webkit-animation-delay:0.91s;
        -ms-animation-delay:0.91s;
        -o-animation-delay:0.91s;
        animation-delay:0.91s;
    }

    #inTurnFadingTextG_5{
        -moz-animation-delay:1.04s;
        -webkit-animation-delay:1.04s;
        -ms-animation-delay:1.04s;
        -o-animation-delay:1.04s;
        animation-delay:1.04s;
    }

    #inTurnFadingTextG_6{
        -moz-animation-delay:1.17s;
        -webkit-animation-delay:1.17s;
        -ms-animation-delay:1.17s;
        -o-animation-delay:1.17s;
        animation-delay:1.17s;
    }

    #inTurnFadingTextG_7{
        -moz-animation-delay:1.3s;
        -webkit-animation-delay:1.3s;
        -ms-animation-delay:1.3s;
        -o-animation-delay:1.3s;
        animation-delay:1.3s;
    }

    #inTurnFadingTextG_8{
        -moz-animation-delay:1.43s;
        -webkit-animation-delay:1.43s;
        -ms-animation-delay:1.43s;
        -o-animation-delay:1.43s;
        animation-delay:1.43s;
    }

    #inTurnFadingTextG_9{
        -moz-animation-delay:1.56s;
        -webkit-animation-delay:1.56s;
        -ms-animation-delay:1.56s;
        -o-animation-delay:1.56s;
        animation-delay:1.56s;
    }

    #inTurnFadingTextG_10{
        -moz-animation-delay:1.69s;
        -webkit-animation-delay:1.69s;
        -ms-animation-delay:1.69s;
        -o-animation-delay:1.69s;
        animation-delay:1.69s;
    }

    @-moz-keyframes bounce_inTurnFadingTextG{
        0%{
            color:#000000;
        }

        100%{
            color:#FFFFFF;
        }

    }

    @-webkit-keyframes bounce_inTurnFadingTextG{
        0%{
            color:#000000;
        }

        100%{
            color:#FFFFFF;
        }

    }

    @-ms-keyframes bounce_inTurnFadingTextG{
        0%{
            color:#000000;
        }

        100%{
            color:#FFFFFF;
        }

    }

    @-o-keyframes bounce_inTurnFadingTextG{
        0%{
            color:#000000;
        }

        100%{
            color:#FFFFFF;
        }

    }

    @keyframes bounce_inTurnFadingTextG{
        0%{
            color:#000000;
        }

        100%{
            color:#FFFFFF;
        }

    }

</style>
<div id="inTurnFadingTextG">
    <div id="inTurnFadingTextG_1" class="inTurnFadingTextG">
        L</div>
    <div id="inTurnFadingTextG_2" class="inTurnFadingTextG">
        o</div>
    <div id="inTurnFadingTextG_3" class="inTurnFadingTextG">
        a</div>
    <div id="inTurnFadingTextG_4" class="inTurnFadingTextG">
        d</div>
    <div id="inTurnFadingTextG_5" class="inTurnFadingTextG">
        i</div>
    <div id="inTurnFadingTextG_6" class="inTurnFadingTextG">
        n</div>
    <div id="inTurnFadingTextG_7" class="inTurnFadingTextG">
        g</div>
    <div id="inTurnFadingTextG_8" class="inTurnFadingTextG">
        .</div>
    <div id="inTurnFadingTextG_9" class="inTurnFadingTextG">
        .</div>
    <div id="inTurnFadingTextG_10" class="inTurnFadingTextG">
        .</div>
</div>